* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

.section-1 {
    height: 110%;
    background-image: url('https://images.unsplash.com/photo-1614396648745-d5de9c9e037e?q=80&w=2801&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 1vw;
}

.logo > h1 {
    cursor: pointer;
    color: white;
    padding: 5px 2px;
    font-size: 40px;
    font-weight: 700;
}


#about {
    width: 40vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h2 {
    cursor: pointer;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

#menu {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 14px;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 600;
    display: none;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 10vw;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
}

#social-media i {
    cursor: pointer;
}

.ri-search-line {
    /* background-color: red; */
    border-right: 2px solid white;
    padding-right: 10px;
}


/* Navbar CSS ends */

#quot {
    /* background-color: red; */
    width: 70vw;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

#quot > h1 {
    /* background-color: red; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

#quot button {
    padding: 15px 30px;
    font-size: 20px;
    margin-left: 30vw;
    margin-top: 3.5vw;
}

.section-2{
    height: 50%;
    background-color: black;
    color: white;
    text-align: center;

}
 .quot2{
    height: 30%;
 }

.quot2 h3{
    padding-top: 50px;
    font-weight: 400;
}

.quot2 p{
    margin-top: 20px; 
    font-size: 20px;
   font-weight: 700;
    
}

.cards{
    height: 70%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}

.cards > div {
    width: 23%;
    padding: 10px 20px;
}

.child-card > h3{
    margin-top: 30px;
    font-weight: 700;
} 

.child-card > p{
    margin-top: 30px;
    font-size: 20px;
    
} 
.cards > div > i {
    margin-top: 30px;
    font-size: 40px;
} 

.section-3 {
    height: 120%;
    color: white;
    background-color: #151515;
    text-align: center;
    padding: 10px 200px;
}

.hp{
    margin-top: 20px;
    background-color: cyan;
}

.hp > h3{
   font-weight: 400;
}

.hp > p{
   margin-top: 10px;
   font-size: 20px;
   font-weight: 700;
}

.upper-part{
    height: 350px;
    margin-top: 20px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strength-weightlifting{
    height: 300px;
    background-color: rgb(230, 171, 22);
}

.cardio-indoor{
    height: 300px;
    background-color: goldenrod;
}

.strength-kettlebell{
    height: 300px;
    background-color: goldenrod;
}