* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

.section-1 {
    height: 75vw;
    background-image: url('https://images.unsplash.com/photo-1614396648745-d5de9c9e037e?q=80&w=2801&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 1vw;
}

.logo>h1 {
    cursor: pointer;
    color: white;
    padding: .5vw .2vw;
    font-size: 4vw;
    font-weight: 700;
}


#about {
    width: 40vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#about>h2 {
    cursor: pointer;
    list-style: none;
    font-size: 1.3vw;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

#menu {
    height: 2vw;
    width: 2vw;
    border: .2vw solid black;
    border-radius: 1vw;
    padding: 4px 6px;
    font-size: 1vw;
    font-weight: 600;
    display: none;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 10vw;
    height: 2vw;
    font-size: 1.3vw;
    font-weight: 700;
}

#social-media>i {
    cursor: pointer;
}

.ri-search-line {
    /* background-color: red; */
    border-right: .2vw solid white;
    padding-right: .5vw;
}


/* Navbar CSS ends */

#quot {
    /* background-color: red; */
    width: 70vw;
    height: 15vw;
    margin: 19vw 15vw;
    text-transform: uppercase;
}

#quot>h1 {
    /* background-color: red; */
    color: white;
    font-size: 4vw;
    font-weight: 600;
    line-height: 3.5vw;
    text-align: center;
}

#quot>button {
    cursor: pointer;
    padding: 1vw;
    font-size: 1.5vw;
    height: 30%;
    width: 15%;
    margin: 2vw 0 0 30vw;
    text-transform: uppercase;
}

.section-2 {
    height: 29vw;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;

}

.quot2 {
    /* background-color: red; */
    height: 20%;
}

.quot2>h3 {
    /* background-color: green; */
    font-size: 2vw;
    padding-top: 2vw;
    font-weight: 400;
}

.quot2>p {
    /* background-color: magenta; */
    margin-top: .5vw;
    font-size: 2vw;
    font-weight: 700;

}

.cards {
    /* background-color: green; */
    margin-top: 1vw;
    height: 70%;
    padding: 1vw 7vw;
    display: flex;
    justify-content: space-between;
}

.cards>div {
    /* background-color: brown; */
    height: 19vw;
    width: 20vw;
    padding: .5vw 1vw;
}

.child-card>h3 {
    margin-top: 1vw;
    font-weight: 700;
    font-size: 1.5vw;
    /* background-color: magenta; */
}

.child-card>p {
    /* background-color: magenta; */
    margin-top: 1vw;
    font-size: 1.8vw;

}

.cards>div>i {
    /* background-color: magenta; */
    font-size: 4vw;
}

.section-3 {
    height: 80vw;
    width: 100vw;
    color: white;
    background-color: #151515;
    text-align: center;
    padding: 4vw 6.7vw;
}

.hp {
    margin: 1vw 0;
    height: 4vw;
    /* background-color: cyan; */
}

.hp>p {
    margin-top: .5vw;
    font-weight: 400;
    font-size: 1.5vw;
}


.hp>h3 {
    font-size: 1.5vw;
    font-weight: 700;
    padding: .5vw 0;
}



.main {
    /* background-color: red; */
    height: 85vh;
}

.upper-part {
    height: 30vw;
    margin-top: 1vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.upper-part>div {
    height: 30vw;
    width: 27vw;
    background-color: rgb(230, 171, 22);
}


.lower-part {
    margin-top: 1.5vw;
    height: 33vw;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}

.lower-part>div {
    height: 100%;
    width: 42vw;
    background-color: white;
    /* border: 1px solid black; */
}

.section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39vw;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1600677396341-16965cbe9224?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.registration{
    height: 30%;
    width: 70%;
    text-align: center;
    /* background-color: red; */
}

.registration>h3 {
    /* background-color: purple; */
    height: 30%;
    font-size: 2.5vw;
    font-weight: 700;
    padding: .5vw 0;
    color: white;
}

.registration>p {
    /* background-color: green; */
    height: 20%;
    font-size: 2vw;
    font-weight: 100;
    padding: .1vw 0;
    color: white;
}
.registration>button {
    /* background-color: green; */
    cursor: pointer;
    width: 15%;
    margin-top: 2vw;
    height: 30%;
    font-size: 1vw;
    text-transform: uppercase;
}